<div class ="container">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Testing Asset Pipelines</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </nav>
  <div class = "row">
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p>
    </div>
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p></div>
  </div>
  <div class = "row">
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p>
    </div>
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p>
    </div>
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p>
    </div>
  </div>
  <div class = "row">
    <div class="col-lg-4">
      <p>some text
      <button type="button" class="btn btn-default">Default</button>
    </p>
    </div>
    <div class="col-lg-4">
      <p>some text
        <button type="button" class="btn btn-default">Default</button>
      </p>
    </div>
    <div class="col-lg-4">
      <p>some text
        <button type="button" class="btn btn-default">Default</button>
      </p>
    </div>
  </div>
</div>
